<div class="fullpage">
    <div *ngIf="challenge" class="text">
        <div>{{challenge.name}}</div>
        <div *ngFor="let action of challenge.actions">
            <span>{{action.required}}</span>
            <span>{{action.description}}</span>
        </div>
    </div>
    <div class="text" *ngFor="let def of dice.data.dice">
        {{def.name}} 
        <span class="button" (click)="addDie(def)">+</span>
    </div>
    <div class="cupdie" *ngFor="let die of cup">
        <span *ngFor="let face of die.def.faces, let index=index" class="face rolled-{{index===die.index}}">{{face}}</span>
    </div>
    <div class="text" *ngIf="cup.length > 0">
        <span class="button" (click)="rollCup()">Roll</span>
    </div>
</div>
