<div class="fullpage">
    <div class="text">Bit: {{shared.data.play.bits}}</div>
    <div class="text">Wounds: {{shared.data.play.wounded}} ({{shared.data.play.pool.length}})</div>
    <div class="text">
        <span *ngFor="let tag of tags" [ngClass]="{tag: true, enabled: shared.data.play.bits > 0}" 
            (click)="shared.data.play.bits === 0 || clickTag(tag)">{{tag}}</span>
    </div>
    <div *ngIf="encounter" class="text">
        <div>{{encounter.challenge.name}}</div>
        <div *ngFor="let action of encounter.actions(); let index = index" [ngClass]="{challenge: true, current: action.isCurrent}">
            <span class="cost">{{action.def.required}}</span>
            <span class="description" (click)="!action.isCurrent || acceptAction(action)">{{action.def.description}}</span>
        </div>
        <div *ngIf="encounter.done()" (click)="doneEncounter()">Done!</div>
    </div>
    <div class="text" *ngFor="let def of dice.data.dice">
        {{def.name}} 
        <span class="button" (click)="addDie(def)">+</span>
    </div>
    <div class="cupdie" *ngFor="let die of cup">
        <span *ngFor="let face of die.def.faces, let index=index" class="face rolled-{{index===die.index}}"
            (click)="index != die.index || clickFace(die)">{{face}}</span>
    </div>
    <div class="text" *ngIf="cup.length > 0">
        <span class="button" (click)="rollCup()">Roll</span>
    </div>
</div>
